<ion-view view-title="DETAIL CHART">
  <ion-content class="padding" >

      <div class="list">

          <div class="item item-divider">
              Detail of chart...
          </div>

          <a class="item" href="#">

              <div class="row">
                  <div class="col col-75">Building 35 Tower 2</div>
                  <div class="col">off > 8h</div>
              </div>
          </a>
          <a class="item" href="#">

              <div class="row">
                  <div class="col col-75">Building 35 Tower 2</div>
                  <div class="col">off > 8h</div>
              </div>
          </a>
          <a class="item" href="#">

              <div class="row">
                  <div class="col col-75">Building 35 Tower 2</div>
                  <div class="col">off > 8h</div>
              </div>
          </a>
          <a class="item" href="#">

              <div class="row">
                  <div class="col col-75">Building 35 Tower 2</div>
                  <div class="col">off > 8h</div>
              </div>
          </a>
          <a class="item" href="#">

              <div class="row">
                  <div class="col col-75">Building 35 Tower 2</div>
                  <div class="col">off > 8h</div>
              </div>
          </a>
          <a class="item" href="#">

              <div class="row">
                  <div class="col col-75">Building 35 Tower 2</div>
                  <div class="col">off > 8h</div>
              </div>
          </a>

      </div>
  </ion-content>
</ion-view>
